<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>I am studying at {{ tempat_kuliah }}</article>
	<article>My hobby is {{ hobi }}</article>
	<article>{{ desc }}</article>
	<img src = "https://scontent-yyz1-1.cdninstagram.com/vp/9ec4b1267a87c2ad5ce974b6652daba0/5C1EC1E8/t51.2885-19/s150x150/35616454_362626150930675_5128621431701110784_n.jpg">
</body>
</html>
